
:root {
    --main-color:#E5E5E5;
    --secondary-color:#333333;
    --lightGrey-color:#F2F2F2;
    --darkGrey-color:#828282;
    --border-color:#C4C4C4;
    --black-color:#000;
    --letter-spacing:0.04em;
    --transition: all 0.5s ease-in-out;
}